<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="CSS/style.css">
	<title>Brian's Site</title>
	<meta CHARSET="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="container">
	
	<header>
	<a href="index.html" class="tablet desktop"><img src="images/brian.jpg" alt="Programmer Brian Jenks"></a>
	</header>
	
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="information.html">Information</a></li>
			<br class="smallerdesktop">
			<li><a href="about.html">About Me</a></li>
			<li><a href="schedule.html">Schedule</a></li>
		</ul>
	</nav>
	
	<main>
		<section>
			<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod facilisis tempor. Ut varius nec lectus sit amet mattis. Maecenas vel ex diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam feugiat ante sit amet venenatis volutpat. Nullam id lacus nec ipsum ullamcorper venenatis at a velit. In consequat neque at eleifend pellentesque. Nulla ante lorem, varius vel lobortis eget, dignissim id elit. Curabitur facilisis molestie ultrices.</article>
			<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod facilisis tempor. Ut varius nec lectus sit amet mattis. Maecenas vel ex diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam feugiat ante sit amet venenatis volutpat. Nullam id lacus nec ipsum ullamcorper venenatis at a velit. In consequat neque at eleifend pellentesque. Nulla ante lorem, varius vel lobortis eget, dignissim id elit. Curabitur facilisis molestie ultrices.</article>

			<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod facilisis tempor. Ut varius nec lectus sit amet mattis. Maecenas vel ex diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam feugiat ante sit amet venenatis volutpat. Nullam id lacus nec ipsum ullamcorper venenatis at a velit. In consequat neque at eleifend pellentesque. Nulla ante lorem, varius vel lobortis eget, dignissim id elit. Curabitur facilisis molestie ultrices.</article>
		</section>
		<aside>
			<p>I like food!</p>
		</aside>
	</main>
	
	<footer>
		<a href="https://www.linkedin.com/"><img src="images/linkedin.png" alt="Brian Jenks LinkedIn"></a>
		<a href="https://github.com/"><img src="images/github.png" alt="Brian Jenks GitHub"></a>
		<p>Created by: Brian Jenks</p>
	</footer>
	
	</div> <!--end container -->

</body>

</html>